.close-button {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background: transparent;
  border: none;
  outline-style: none;
  font-weight: bold;
  font-size: x-large;
  cursor: pointer;
  transform: translateX(-5px) translateY(-7px);
  /* color: white; */
  z-index: 10;
}

.color-card {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: scroll;
  padding: 1rem;
}
.color-holder {
  overflow-y: scroll;
  max-height: 700px;
  position: relative;

  /* margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem; */
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.color-holder p {
  height: 1.5rem;
}

.color-button {
  color: transparent;
  height: 8rem;
  width: 8rem;
  border: none;
  border-radius: 10px;
}
.color-button:focus {
  outline-style: none;
}

p {
  text-align: center;
}
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}

*::-webkit-scrollbar {
  /* width: 20px; */
  /* background-color: black; */
  /* height: 90%; */
  color: transparent;
}
*::-webkit-scrollbar-track {
  /* background: transparent; */
  height: 70%;
  border: transparent;
}
*::-webkit-scrollbar-thumb {
  height: 90%;
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  /* border: transparent; */
}
