.contacts {
  font-family: "Poppins", sans-serif;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /* border: 2px solid green; */
}

.text-holder {
  width: 40%;
  height: 80vh;
  display: flex;
  justify-content: flex-end;
}

.contacts-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.map-holder {
  height: 80vh;
  width: 50%;
  display: flex;
}
.map {
  width: 80%;
  height: 100%;
  overflow: hidden;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.contact-items {
  font-size: small;
  padding: 2rem;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  gap: 2rem;
}
.contact-items:hover {
  background-color: lightgrey;
  border-radius: 10px;
}
.contacts img {
  height: 20px;
  width: 20px;
}
