.contacts {
  height: 100%;
  width: 100%;
  font-family: "Times New Roman", Times, serif;
  display: flex;
  justify-content: space-around;
  color: #7b7b7b;
  flex-wrap: wrap;
}

.text-holder {
  width: 50%;
  height: 80vh;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts-details {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.map-holder {
  height: 80vh;
  width: 50%;
  display: flex;
  justify-content: center;
}
.map {
  /* border: 2px solid green; */
  width: 90%;
  height: 100%;
  overflow: hidden;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
