.home {
  /* border: 2px solid green; */
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.home span {
  color: #fcb611;
}
.home-title {
  color: black;
  align-self: center;
}
.home-text {
  width: 50%;
  line-height: 3rem;
  text-align: center;
}
.home-cta-container {
  width: 50vw;
  display: flex;
  justify-content: space-around;
}

.home-cta-button {
  width: 150px;
  display: inline-block;
  text-align: center;
  color: black;
  background-color: transparent;
  border: 2px solid #fcb611;
  border-radius: 5px;
  padding: 5px;
  font-weight: bold;
  cursor: pointer;
}

.home-cta-button:hover {
  background-color: #fcb611;
  font-weight: bold;
  color: white;
}
