.home {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  color: #7b7b7b;
}
.home-description {
  width: 50%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.home span {
  color: #fcb611;
}
.home-title {
  color: #5f5e5e;
}

.home-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
}
.home-links li {
  width: 150px;
  display: inline-block;
  text-align: center;
  color: #5f5e5e;
  background-color: #fcb611;
  border-radius: 5px;
  padding: 5px;
}
.home-links li:hover {
  color: white;
  transform: scale(1.5);
  transition: all 0.3s;
}
