.languageSelector {
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
  height: 100%;
  padding-right: 2rem;
}
.languageSelector button {
  margin-right: 1rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.languageSelector button:hover {
  font-weight: bold;
}

.languageSelector button:focus {
  outline: none;
}
.languageButton {
  font-size: 16px;
  line-height: 0;
}
@media all and (min-width: 375px) and (max-width: 768px) {
  .languageSelector {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-2rem) translateX(0.3rem);
  }
  .languageButton {
    font-size: 14px;
  }
}
