.languageSelector {
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
  height: 100%;
  gap: 1rem;
}
.languageSelector button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.languageSelector button:hover {
  font-weight: bold;
}

.languageSelector button:focus {
  outline: none;
}
.languageButton {
  font-size: 16px;
  line-height: 0;
}
@media all and (min-width: 375px) and (max-width: 768px) {
  .languageSelector {
    height: 1rem;
    position: relative;
    top: 0;
    right: -2rem;
  }
  .languageButton {
    font-size: 14px;
  }
}
