.workclothes {
  display: flex;
  flex-direction: column;
  color: black;
  /* padding-top: 1rem; */
  /* gap: 1rem; */
}
tbody tr {
  box-shadow: 0px 3px 10px #000;
}

tr td:first-child {
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

tr td:last-child {
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.title {
  color: black;
  align-self: center;
  /* padding-top: 0.5rem; */
  text-transform: uppercase;
  font-size: 18px;
}

.labels {
  cursor: text;
  color: black;
}
.labels th {
  font-weight: normal;
}

.close-button {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  top: 2px;
  right: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  justify-self: flex-end;
  /* border: none; */
  outline-style: none;
  cursor: pointer;
  z-index: 99;
}
