* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.App {
  /* background: rgb(255, 255, 255); */
  background-image: url("/images/background.png");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  width: 100vw;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  width: 100%;
  border-bottom: 2px solid #fcb611;
  /* border-bottom: 1px solid #7b7b7b; */
}

.languageSelector {
  /* max-height: 0.2; */
  display: flex;
  align-self: flex-end;
  transform: translateX(-2rem);
  transform: translateY(-1.5rem);
}
.languageSelector button {
  margin-right: 1rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #5f5e5e;
}
.languageSelector button:hover {
  color: white;
}

.languageSelector button:focus {
  outline: none;
}

.nav-links {
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.nav-links li {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  color: #5f5e5e;
  display: inline-block;
  text-decoration: none;
}
.nav-links li:hover {
  color: white;
}

.message {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  color: #fcb611;
}
.message a {
  color: #fcb611;
}
tr {
  cursor: pointer;
  text-align: center;
}

.trRow {
  border-radius: 10px;
}
.trRow:hover {
  background-color: lightgrey;
}

td {
  padding: 8px;
}
th {
  padding: 8px;
}
.table {
  border-collapse: separate;
  width: 100%;
  border-spacing: 0 0.5rem;
}

.about {
  display: flex;
  justify-content: center;
  align-self: center;
}

.about-text {
  width: 600px;
  color: #5f5e5e;
  /* font-family: "Times New Roman", Times, serif; */
}

.fabrics {
  /* border: 2px solid green; */
  height: 80vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.active-modal {
  position: absolute;
  background: white;
  opacity: 1;
  display: flex;
  justify-content: center;
  overflow: scroll;
}

.active-modal:focus {
  border-style: none;
  outline: none;
}
.close-button {
  color: #fcb611;
}

@media screen and (max-width: 768px) {
  body {
    /* display: none; */
  }

  nav {
    display: flex;
    justify-content: left;
    align-items: center;
  }

  .nav-links {
    /* position: absolute; */
  }

  .home-links {
    /* width: 90%; */
  }
}
