* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background: rgb(255, 255, 255);
  /* background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 21%,
    rgb(150, 216, 161) 100%,
    rgba(255, 255, 255, 1) 100%
  ); */
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
}

.button-links {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  width: 450px;
}

.button-links-tags {
  font-weight: bold;
  color: rgb(140, 161, 140);
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.title {
  font-weight: bold;
  /* color: rgb(140, 161, 140); */
  font-size: large;
}

.product-button {
  /* display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(224, 242, 224);
  border-radius: 10px;
  border: none;
  border-style: none;
  border-bottom: 2px solid rgb(109, 109, 109);
  cursor: pointer;
  transition: all 0.5s ease;
  height: 3rem;
  width: 30rem; */
}
button:focus {
  outline: 0;
}
.product-button:hover {
  background-color: white;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  border-bottom-style: dotted;
  width: 100%;
  border-bottom: 2px solid #fcb611;
}

.languageSelector {
  position: relative;
  display: flex;
  align-self: flex-end;
  transform: translateX(-2rem);
  transform: translateY(-1.5rem);
  color: #fcb611;
}
.languageSelector button {
  margin-right: 1rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 4px;
}
.languageSelector button:hover {
  color: #fcb611;
}

.languageSelector button:focus {
  outline: none;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.nav-links li {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  color: black;
  display: inline-block;
  text-decoration: none;
}
.nav-links li:hover {
  border-bottom: 2px solid #fcb611;
  /* color: #fcb611; */
  /* color: rgb(140, 161, 140); */
}

.home {
  height: 80vh;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.home span {
  color: #fcb611;
}

.labels {
  cursor: text;
}

tr {
  cursor: pointer;
  text-align: center;
  /* border-radius: 10px; */
  border-spacing: 10px;
}
tr:hover {
  background-color: white;
}
.trRow {
  /* background-color: #fcb611; */
  /* background-color: rgb(224, 242, 224); */
  border-radius: 10px;
}
.trRow:hover {
  background-color: #fcb611;
}

td {
  padding: 8px;
}
th {
  padding: 8px;

  text-align: center;
}
.table {
  border-collapse: separate;
  width: 100%;
  border-spacing: 0 0.5rem;
}

.home-title {
  margin-top: 5%;
  font-family: "Times New Roman", Times, serif;
}
.home-links {
  width: 100%;
  padding-top: 10rem;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
}
.home-links li {
  display: inline-block;
  color: black;
  text-decoration: none;
}

.about {
  height: 80vh;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.about-text {
  margin: 10px;
  width: 600px;
  font-family: "Times New Roman", Times, serif;
}

.fabrics {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.fabrics label {
  color: black;
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 2rem;
}

.active-modal {
  position: absolute;
  background: white;
  opacity: 1;
  display: flex;
  justify-content: center;
  overflow: scroll;
}

.active-modal:focus {
  border-style: none;
  outline: none;
}

@media screen and (max-width: 768px) {
  body {
    /* display: none; */
  }

  nav {
    display: flex;
    justify-content: left;
    align-items: center;
    min-height: 10vh;
    color: black;
    width: 100%;
  }

  .nav-links {
    position: absolute;
    right: 15px;
    width: 60%;
  }

  .home-links {
    width: 90%;
  }
}
