* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  /* background-color: #cfee67; */
  background: rgb(255, 255, 255);
  /* background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 21%,
    rgba(184, 203, 122, 1) 100%,
    rgba(255, 255, 255, 1) 100%
  ); */
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
}

.button-links {
  display: flex;
  flex-direction: column;
  background: rgb(235, 234, 232);
  border-radius: 20px;
}
label {
  /* border: 2px solid green; */
  display: flex;
  justify-content: space-around;
}

.product-button {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(101, 216, 101);
  border-radius: 10px;
  border: none;
  border-style: none;
  border-bottom: 2px solid rgb(109, 109, 109);
  cursor: pointer;
  transition: all 0.4s ease;
}
button:focus {
  outline: 0;
}
.product-button:hover {
  background-color: white;
}
span {
  margin: 1rem;
}
nav {
  /* position: relative; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  /* background: rgb(255, 255, 255); */
  color: black;
  /* border-bottom-style: dotted; */
  border-radius: 10px;
  width: 100%;
  box-shadow: 2px 2px 50px rgb(193, 193, 193);
}

.languageSelector {
  position: relative;
  display: flex;
  /* justify-content: center; */
  align-self: flex-end;
}
.languageSelector button {
  margin-right: 1rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 4px;
}

.languageSelector button:focus {
  outline: none;
  /* box-shadow: none; */
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.nav-links li {
  font-family: "Times New Roman", Times, serif;

  color: black;
  display: inline-block;
  text-decoration: none;
}

.home {
  height: 80vh;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.home-title {
  margin-top: 5%;
  font-family: "Times New Roman", Times, serif;
}
.home-links {
  /* position: absolute; */
  width: 100%;
  /* height: 90%; */
  padding-top: 10rem;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
}
.home-links li {
  display: inline-block;
  color: black;
  text-decoration: none;
}

.about {
  height: 80vh;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.about-text {
  margin: 10px;
  width: 600px;
  font-family: "Times New Roman", Times, serif;
}

.fabrics {
  /* height: 80vh; */
  height: 100%;

  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-top: 10rem;
  padding-right: 2rem;
  padding-left: 2rem;
}
.fabrics label {
  color: black;
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 2rem;
  display: flex;
}

.workclothes {
  font-family: "Times New Roman", Times, serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: flex-start;
  /* position: relative; */
  margin-right: 2rem;
}

.table-cloths {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  font-family: "Times New Roman", Times, serif;
  margin-right: 2rem;
}
.contacts {
  /* background: white; */
  height: 80vh;
  font-family: "Times New Roman", Times, serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contacts p {
  margin-top: 2rem;
}

.table-cloths table,
tr,
th {
  border-bottom: 1px solid black;
  border-collapse: collapse;
  font-family: "Times New Roman", Times, serif;
}

@media screen and (max-width: 768px) {
  body {
    /* display: none; */
  }

  nav {
    /* position: relative; */
    display: flex;
    justify-content: left;
    align-items: center;
    min-height: 10vh;
    /* background: rgb(255, 255, 255); */
    color: black;
    width: 100%;
  }

  .nav-links {
    position: absolute;
    right: 15px;
    width: 60%;
  }

  .home-links {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .fabrics {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid red; */
    height: 100%;
    padding-top: 0;
  }
}

.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
}

.active {
  visibility: visible;
  opacity: 1;
}

.modal {
  background-color: white;
  width: 30%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active-modal {
  position: absolute;
  background: pink;
  /* border: 2px solid red; */
}

.active-modal:focus {
  border-style: none;
  outline: none;
}

.CardColor {
  height: 70%;
  width: 100%;
  /* background: green; */
}
.CardInfo {
}
